<div class="container-fluid my-5">
    <h2 class="text-center mb-4">Détails du pointage</h2>

    <!-- Main Nav tabs -->
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="import-tab" data-bs-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="true">
                Import <i class="bi bi-chevron-down"></i>
            </a>
        </li>
        <!-- Additional main tabs if needed -->
    
    </ul>
          <!-- Main Tab Content -->
    <div class="tab-content" id="mainTabContent">
        <div class="tab-pane fade show active" id="import" role="tabpanel" aria-labelledby="import-tab">
            <!-- Sub Nav tabs for "Import" -->
            <ul class="nav nav-tabs mt-3" id="subTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="voitures-tab" data-bs-toggle="tab" href="#voitures" role="tab" aria-controls="voitures" aria-selected="true">Voitures</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="divers-tab" data-bs-toggle="tab" href="#divers" role="tab" aria-controls="divers" aria-selected="true">Divers</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="conteneurs-tab" data-bs-toggle="tab" href="#conteneurs" role="tab" aria-controls="conteneurs" aria-selected="true">Conteneurs</a>
                </li>
                <!-- Additional sub tabs if needed -->
            </ul>


    <!-- Main Tab Content -->
    <div class="tab-content" id="mainTabContent">
        <div class="tab-pane fade show active" id="voitures" role="tabpanel" aria-labelledby="voitures-tab">
            <!-- Sub Nav tabs for "Import" -->
            <ul class="nav nav-tabs mt-3" id="subTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="voitures-tab" data-bs-toggle="tab" href="#global" role="tab" aria-controls="voitures" aria-selected="true">Global</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="voitures-tab" data-bs-toggle="tab" href="#détails" role="tab" aria-controls="divers" aria-selected="true">Détails</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="voitures-tab" data-bs-toggle="tab" href="#overland" role="tab" aria-controls="conteneurs" aria-selected="true">Overland</a>
                </li>
                <!-- Additional sub tabs if needed -->
            </ul>

            <!-- Sub Tab Content for "Import" -->
            <div class="tab-content mt-3" id="subTabContentVoitures">
                <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                    <!-- Bouton Ajouter une voiture -->
                    <button class="btn-add-vehicle" [routerLink]="['/ajouter-pointage']" [queryParams]="{ navireId: escale?.navire?.id }">
                        <i class="fas fa-plus"></i> Ajouter une voiture
                      </button>
                                          <!-- Tableau pour Global -->
                    <mat-card *ngIf="escale">
                        <h2 class="mat-h2">Détails de l'Escale: {{ escale.id }}</h2>
                        <div class="table-container">
                            <table mat-table [dataSource]="voituresDataSource" class="mat-elevation-z8">
                                <!-- Define columns -->
                                <ng-container matColumnDef="numConnaissement">
                                    <th mat-header-cell *matHeaderCellDef>Numéro de connaissement</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.connaissement?.num }}</td>
                                </ng-container>
                                <ng-container matColumnDef="lot">
                                    <th mat-header-cell *matHeaderCellDef>Lot</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.lot }}</td>
                                </ng-container>
                                <ng-container matColumnDef="marque">
                                    <th mat-header-cell *matHeaderCellDef>Marque</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.marque }}</td>
                                </ng-container>
                                <ng-container matColumnDef="agentMaritime">
                                    <th mat-header-cell *matHeaderCellDef>Agent maritime</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.client?.typeClient?.libelle }}</td>
                                </ng-container>
                                <ng-container matColumnDef="datePointage">
                                    <th mat-header-cell *matHeaderCellDef>Date de pointage</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.datePointage | date:'short' }}</td>
                                </ng-container>
                                <ng-container matColumnDef="provenance">
                                    <th mat-header-cell *matHeaderCellDef>Provenance</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.terminal?.port?.provenance }}</td>
                                </ng-container>
                                <ng-container matColumnDef="client">
                                    <th mat-header-cell *matHeaderCellDef>Client</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.client?.typeClient?.libelle }}</td>
                                </ng-container>
                                <ng-container matColumnDef="manifeste">
                                    <th mat-header-cell *matHeaderCellDef>Manifesté</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="pointe">
                                    <th mat-header-cell *matHeaderCellDef>Pointé</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="vinCharge">
                                    <th mat-header-cell *matHeaderCellDef>VIN chargé</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.vin }}</td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="voituresDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let voiture; columns: voituresDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card>
                    
                    
                                <!-- Ajoutez plus de lignes selon vos données -->
                         
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    </div>
            
            
                

                <div class="tab-pane fade" id="détails" role="tabpanel" aria-labelledby="détails">
                    <!-- Tableau pour Détails -->
                    <!-- Ajoutez le deuxième tableau ici -->
                    <button class="btn-add-vehicle" routerLink="/ajouter-pointage"><i class="fas fa-plus"></i> Ajouter une voiture</button>
                    <mat-card *ngIf="escale">
                        <h2 class="mat-h2">Détails de l'Escale: {{ escale.id }}</h2>
                        <div class="table-container">
                            <table mat-table [dataSource]="voituresDataSource" class="mat-elevation-z8">
                                <!-- Define columns -->
                                <ng-container matColumnDef="numConnaissement">
                                    <th mat-header-cell *matHeaderCellDef>Numéro de connaissement</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.connaissement?.num }}</td>
                                </ng-container>
                                <ng-container matColumnDef="lot">
                                    <th mat-header-cell *matHeaderCellDef>Lot</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.lot }}</td>
                                </ng-container>
                                <ng-container matColumnDef="vin">
                                    <th mat-header-cell *matHeaderCellDef>VIN</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.vin }}</td>
                                </ng-container>
                                <ng-container matColumnDef="marque">
                                    <th mat-header-cell *matHeaderCellDef>Marque</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.marque }}</td>
                                </ng-container>
                                <ng-container matColumnDef="modele">
                                    <th mat-header-cell *matHeaderCellDef>Modèle</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.modele }}</td>
                                </ng-container>
                                <ng-container matColumnDef="agentMaritime">
                                    <th mat-header-cell *matHeaderCellDef>Agent maritime</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.client?.typeClient?.libelle }}</td>
                                </ng-container>
                                <ng-container matColumnDef="pointeur">
                                    <th mat-header-cell *matHeaderCellDef>Pointeur</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="datePointage">
                                    <th mat-header-cell *matHeaderCellDef>Date de pointage</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.datePointage | date:'short' }}</td>
                                </ng-container>
                                <ng-container matColumnDef="reserve">
                                    <th mat-header-cell *matHeaderCellDef>Réserve</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="etat">
                                    <th mat-header-cell *matHeaderCellDef>Etat</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.etat }}</td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="detailsDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let voiture; columns: detailsDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card>
                    
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    </div>
                
            

                <div class="tab-pane fade" id="overland" role="tabpanel" aria-labelledby="overland">
                    <button class="btn-add-vehicle" [routerLink]="['/ajouter-pointage']" [queryParams]="{ navireId: escale?.navire?.id }">
                        <i class="fas fa-plus"></i> Ajouter une voiture
                      </button>
                      
                      
                    <!-- Tableau pour Overland -->
                    <!-- Ajoutez le troisième tableau ici -->
                    <mat-card *ngIf="escale">
                        <h2 class="mat-h2">Détails de l'Escale: {{ escale.id }}</h2>
                        <div class="table-container">
                            <table mat-table [dataSource]="voituresDataSource" class="mat-elevation-z8">
                                <!-- Define columns -->
                                <ng-container matColumnDef="numConnaissement">
                                    <th mat-header-cell *matHeaderCellDef>Numéro de connaissement</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.connaissement?.num }}</td>
                                </ng-container>
                                <ng-container matColumnDef="lot">
                                    <th mat-header-cell *matHeaderCellDef>Lot</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.lot }}</td>
                                </ng-container>
                                <ng-container matColumnDef="vin">
                                    <th mat-header-cell *matHeaderCellDef>VIN</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.vin }}</td>
                                </ng-container>
                                <ng-container matColumnDef="marque">
                                    <th mat-header-cell *matHeaderCellDef>Marque</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.marque }}</td>
                                </ng-container>
                                <ng-container matColumnDef="modele">
                                    <th mat-header-cell *matHeaderCellDef>Modèle</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.modele }}</td>
                                </ng-container>
                                <ng-container matColumnDef="agentMaritime">
                                    <th mat-header-cell *matHeaderCellDef>Agent maritime</th>
                                    <td mat-cell *matCellDef="let voiture">{{ escale.client?.typeClient?.libelle }}</td>
                                </ng-container>
                                <ng-container matColumnDef="pointeur">
                                    <th mat-header-cell *matHeaderCellDef>Pointeur</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="datePointage">
                                    <th mat-header-cell *matHeaderCellDef>Date de pointage</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.datePointage | date:'short' }}</td>
                                </ng-container>
                                <ng-container matColumnDef="reserve">
                                    <th mat-header-cell *matHeaderCellDef>Réserve</th>
                                    <td mat-cell *matCellDef="let voiture"></td>
                                </ng-container>
                                <ng-container matColumnDef="etat">
                                    <th mat-header-cell *matHeaderCellDef>Etat</th>
                                    <td mat-cell *matCellDef="let voiture">{{ voiture.etat }}</td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                                    <td mat-cell *matCellDef="let voiture">
                                    <button (click)="deleteVoiture(voiture.id)" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="overlandDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let voiture; columns: overlandDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card>
                    
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    </div>
        </div>
                </div>
            </div>
        </div>
        <!-- Additional content for main tabs if needed -->
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
